body {
	background-color: #add8e6;
}

.score-section {
	color: #EC7063;
	font-size: 25px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;	 
	margin: auto;
  	width: 50%;
	padding-top: 50px;
}

.question-section {
	color: #A93226;
	font-size: 25px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;	 
	margin: auto;
  	width: 50%;
	padding-top: 50px;
}

.answer-section {
	color: #EC7063;
	font-size: 25px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;	 
	margin: auto;
  	width: 50%;
	padding-top: 25px;
}
